/* Стили для меню */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

/* Стили для выпадающего меню */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #111;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*form*/
.right-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* CSS для корзины, входа и регистрации */
.cart-login-registration {
  margin-right: 20px;
}
/* CSS для корзины */
.Cart {
  margin-right: 20px; /* отступ между элементами */
}

/* CSS для входа */
.login {
  margin-right: 20px; /* отступ между элементами */
}

/* CSS для регистрации */
.registration {
  margin-right: 20px; /* отступ между элементами */
}

/* Стили для футера */
footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-column {
  width: 30%;
  padding: 0 20px;
}

.footer-column h3 {
  font-size: 18px;
  margin-bottom: 20px;
}

.footer-column p {
  font-size: 14px;
  line-height: 1.6;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.footer-column ul li a {
  color: #fff;
  text-decoration: none;
}

.footer-column ul li a:hover {
  text-decoration: underline;
}

.footer-column form {
  margin-top: 20px;
}

.footer-column input[type="email"] {
  width: calc(100% - 100px);
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #fff;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
}

.footer-column input[type="email"]::placeholder {
  color: #ccc;
}

.footer-column button[type="submit"] {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
}

.footer-bottom {
  background-color: #222;
  padding: 10px 0;
  text-align: center;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}
/*карточки */
body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  color: #333;
}

#gallery {
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#image {
  max-width: 100%;
  max-height: 100%;
}

.button-container {
  display: flex;
  justify-content: center;
}

.button {
  background-color: rgba(28, 28, 28, 0);
  border: none;
  color: rgb(0, 0, 0);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.button:hover {
  background-color: #c9d3ca;
}

.button:active {
  background-color: #04070470;
}

/* Стили для форм и корзины */
.form-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 3px solid #ffffff;
  z-index: 9;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
}

.form-container {
  max-width: 300px;
}

.btn {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.cancel {
  background-color: #000000a9;
}

.animate {
  animation: zoom 0.6s;
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.cart-container {
  max-width: 300px;
}

.total {
  margin-top: 20px;
  font-weight: bold;
}

.cart-item {
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.cart-item-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-item-name {
  flex-grow: 1;
}

.cart-item-price {
  flex-shrink: 0;
}

.cart-item-remove {
  flex-shrink: 0;
  color: rgba(3, 5, 7, 0.644);
  cursor: pointer;
}
/*form*/
.right-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* CSS для корзины, входа и регистрации */
.cart-login-registration {
  margin-right: 20px;
}
/* CSS для корзины */
.Cart {
  margin-right: 20px; /* отступ между элементами */
}

/* CSS для входа */
.login {
  margin-right: 20px; /* отступ между элементами */
}

/* CSS для регистрации */
.registration {
  margin-right: 20px; /* отступ между элементами */
}
/*картинки в корзине*/
.cart-item-image {
  max-width: 100px; /* Максимальная ширина изображения */
  max-height: 100px; /* Максимальная высота изображения */
}
